@media (max-width: 1920px) {
  nav {
    min-width: 100%;
    padding: 25px 20px 40px 20px;
  }
}
@media (max-width: 1100px) {
  nav {
    z-index: 20;
    position: unset;
    padding: 10px 30px;
  }
  nav::after {
    content: "";
    display: none;
  }
  nav .hamburger {
    display: flex;
  }
  nav .navLinks {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: -100%;
    background: #fff;
    width: 100%;
    left: 0;
    padding: 15px 7.5px;
    z-index: -1;
    transition: 0.3s;
  }
  nav .showmenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 67px;
    background: #fff;
    width: 100%;
    left: 0;
    padding: 15px 7.5px;
    transition: 0.3s;
    margin: 0 15px;
    width: 96.7vw;
    margin-right: 30px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
  }
  nav .showmenu .links {
    flex-direction: column;
    text-align: center;
  }
  nav .menuBtn {
    margin-top: 20px;
  }
}
@media (max-width: 800px) {
  nav .showmenu {
    width: 96vw;
  }
}
@media (max-width: 650px) {
  nav .showmenu {
    margin: 0;
    width: 100%;
    border-radius: 0;
  }
}
@media (max-width: 1280px) {
  .heroSection .container {
    width: 100%;
    min-width: fit-content;
    padding: 30px 20px;
  }
}
@media (max-width: 1072px) {
  .heroSection .container .banner .title {
    font-size: 6.5rem;
  }
  .heroSection .container .banner .imageBox img {
    width: 250px;
    height: 335px;
  }
}
@media (max-width: 880px) {
  .heroSection .container .banner .title {
    font-size: 6rem;
  }
  .heroSection .container .banner .imageBox img {
    width: 250px;
    height: 265px;
  }
}
@media (max-width: 830px) {
  .heroSection .container .banner:last-child .imageBox {
    height: 350px;
  }
  .heroSection .container .banner:last-child .imageBox img {
    display: none;
  }
  .heroSection .container .banner .combined_boxes {
    flex-direction: column-reverse;
  }
  .heroSection .container .banner .textAndLogo {
    width: 100%;
    text-align: end;
  }
  .heroSection .container .banner .textAndLogo .title,
  .heroSection .container .banner .textAndLogo .logo {
    margin-right: 60px;
  }
  .heroSection .container .banner:last-child .dishes_title {
    margin-top: 65px;
  }
  .heroSection .container .banner .imageBox img {
    width: 100%;
  }
}
@media (max-width: 720px) {
  .heroSection .container .banner .title {
    font-size: 4.5rem;
  }
}
@media (max-width: 520px) {
  .heroSection .container .banner:last-child .dishes_title {
    display: none;
  }
  .heroSection .container .banner:first-child .dishes_title {
    display: block;
  }
  .heroSection .container .banner:first-child {
    width: 100%;
  }
  .heroSection .container .banner:last-child {
    display: none;
  }
  .heroSection .container .banner .title {
    text-align: center;
  }
  .heroSection .container .banner .textAndLogo .title,
  .heroSection .container .banner .textAndLogo .logo {
    margin-right: 0;
  }
  .heroSection .container .banner .textWithSvg {
    width: fit-content;
    margin: 0 auto;
  }
  .heroSection .container .banner .textAndLogo {
    text-align: center;
  }
  .heroSection .container .banner:first-child .imageBox {
    width: 100%;
    text-align: center;
  }
  .heroSection .container .banner:first-child .imageBox img {
    width: 290px;
    height: 350px;
  }
}
@media (max-width: 650px) {
  .heroSection {
    padding: 0;
  }
}
@media (max-width: 330px) {
  .heroSection .container .banner:first-child .imageBox img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 1520px) {
  .about {
    padding: 30px 20px;
  }
  .about .container {
    min-width: fit-content;
  }
}
@media (max-width: 1050px) {
  .about .container .banner:first-child {
    padding-right: 30px;
  }
  .about .container .banner .mid {
    width: 100%;
    margin: 20px 0;
  }
}
@media (max-width: 786px) {
  .about .container {
    flex-direction: column-reverse;
  }
  .about .container .banner img {
    width: 400px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .about .container .banner:first-child {
    padding: 0;
  }
}
@media (max-width: 530px) {
  .heading {
    font-size: 3rem;
  }
}
@media (max-width: 450px) {
  .about .container .banner img {
    width: 100%;
  }
}
@media (max-width: 1520px) {
  .qualities .container {
    min-width: 100%;
    padding: 30px 20px;
  }
}
@media (max-width: 1190px) {
  .qualities .container .card .title {
    font-size: 1.4rem;
  }
}
@media (max-width: 1080px) {
  .qualities .container .card {
    padding: 0 30px;
  }
  .qualities .container {
    padding: 0;
  }
}
@media (max-width: 635px) {
  .qualities .container .card {
    flex: none;
    width: 400px;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}
@media (max-width: 485px) {
  .qualities .container .card {
    width: 100%;
  }
}
@media (max-width: 1520px) {
  .menu .container {
    min-width: 100%;
  }
}
@media (max-width: 1200px) {
  .menu .container .dishes_container .card img {
    height: 325px;
  }
  .menu .container .dishes_container .card h3 {
    font-size: 1.3rem;
  }
}
@media (max-width: 1000px) {
  .menu .container .dishes_container .card {
    width: 50%;
  }
  .menu .container .dishes_container .card img {
    height: auto;
  }
  .menu .container .dishes_container .card h3 {
    font-size: 1.6rem;
  }
}
@media (max-width: 600px) {
  .menu .container .dishes_container .card h3 {
    font-size: 1.2rem;
  }
}
@media (max-width: 450px) {
  .menu .container .dishes_container .card {
    width: 100%;
    padding: 20px 0;
  }
}
@media (max-width: 1520px) {
  .team .container {
    min-width: 100%;
  }
}
@media (max-width: 1050px) {
  .team .container .team_container .card img {
    width: 135px;
  }
}
@media (max-width: 910px) {
  .team .container .team_container .card h3 {
    font-size: 1.3rem;
  }
}
@media (max-width: 810px) {
  .team .container .team_container .card {
    width: 50%;
  }
  .team .container .team_container .card img {
    width: 220px;
  }
}
@media (max-width: 550px) {
  .team .container .team_container .card {
    width: 100%;
  }
  .team .container .team_container .card img {
    width: 150px;
  }
}
@media (max-width: 1520px) {
  .who_are_we .container {
    min-width: 100%;
    padding: 20px;
  }
}
@media (max-width: 1180px) {
  .who_are_we .container .image_banner img {
    height: 100%;
    width: 100%;
  }
}
@media (max-width: 700px) {
  .who_are_we .container .image_banner {
    order: -1;
    margin-bottom: 2rem;
  }
  .who_are_we .container .text_banner {
    flex-direction: row;
  }
  .who_are_we .container {
    flex-direction: column;
  }
  .who_are_we .container .image_banner img {
    width: 400px;
  }
  .who_are_we .container .text_banner .card {
    width: 50%;
  }
}
@media (max-width: 400px) {
  .who_are_we .container .text_banner {
    flex-direction: column;
  }
  .who_are_we .container .text_banner .card {
    width: 100%;
    margin-bottom: 1.2rem;
  }
}
@media (max-width: 1520px) {
  footer .container {
    min-width: 100%;
    padding: 0 20px;
  }
}
@media (max-width: 530px) {
  footer .container .banner:first-child {
    flex-direction: column;
    gap: 15px;
  }
  footer .container .banner:first-child .left,
  footer .container .banner .right {
    text-align: center;
  }
  footer .container .banner {
    flex-direction: column;
    text-align: center;
    gap: 7px;
  }
}
@media (max-width: 1520px) {
  .reservation .container {
    min-width: 100%;
  }
}
@media (max-width: 1040px) {
  .reservation .container .banner {
    padding: 20px;
  }
}
@media (max-width: 1350px) {
  .reservation .container .banner img {
    width: 42vw;
  }
}
@media (max-width: 885px) {
  .reservation .container {
    flex-direction: column;
    gap: 30px;
  }
  .reservation .container .banner img {
    width: 70vw;
  }
  .reservation .container .banner {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 660px) {
  .reservation .container .banner img {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .reservation .container .banner .reservation_form_box {
    width: 100%;
  }
  .reservation .container .banner .reservation_form_box h1 {
    font-size: 2rem;
  }
}
@media (max-width: 325px) {
  .reservation .container .banner .reservation_form_box h1 {
    font-size: 1.6rem;
  }
}
@media (max-width: 600px) {
  .notFound {
    padding: 30px 20px;
  }
  .notFound .container img {
    width: 100%;
  }
  .notFound .container h1 {
    font-size: 1.75rem;
  }
}
